.reviewsContainer {
    color: #d3cce3;
    background: #58544e;
    font-size: calc(4px + 3vmin);
    padding: 5%;
    font-weight: bold;
}

.review {
    color: #d3cce3;
}

.reviewsContainerTitle{
    text-align: center;
    padding-bottom: 2%;
}

ul{
    list-style-type: circle;
}