body {
  background-color: white;
  font-family: "Signika", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}
#cssMenu {
  position: fixed;
  top: 0;
  margin: auto;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}
#restOfContent {
  padding-top: 11%;
}

.copy {
  text-align: center;
  font-family: sans-serif;
}
.instaContainer {
  display: flex;
  justify-content: center;
}

.introTextContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.imageCarouselContainer {
  width: 70vw;
  height: auto;
  object-fit: cover;
}
.introText {
  padding: 2vh;
  font-weight: bold;
  font-size: calc(6px + 3vmin);
}
.fillerText {
  font-size: calc(6px + 3vmin);
  font-weight: bold;
  text-align: center;
  color: #f1be5e8a;
}
.fa {
  padding: 5vmin;
  font-size: calc(10px + 2vmin);
  width: 2vw;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #f1be5e8a;
  color: white;
  border-right: 5px solid white;
}
.fa-instagram {
  background: #f1be5e8a;
  color: white;
  border-right: 5px solid white;
}

.NavBarLogoContainer {
  margin-left: 1.5vh;
  flex-grow: 3;
  display: flex;
  flex-direction: column;
}

.NavBarTitle {
  font-size: calc(12px + 3vmin);
  color: #f1be5e8a;
  font-family: "Righteous", cursive;
}
.NavBarTitleUnderText {
  font-size: calc(2px + 3vmin);
  color: #f1be5e8a;
  font-family: "Righteous", cursive;
  margin-left: 1em;
}
#customNavBarBorder {
  box-shadow: none;
  border-bottom: 1px solid #f5f5f5;
}

/* Custom Select */

.select-css {
  display: block;
  font-size: calc(8px + 1.5vmin);
  font-family: sans-serif;
  font-weight: auto;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
.select-css::-ms-expand {
  display: none;
}
.select-css:hover {
  border-color: #888;
}
.select-css:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
.select-css option {
  font-weight: normal;
}
